body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  background: #333;
  padding: 15px;
}

.nav-link {
  color: white;
  margin-right: 20px;
  text-decoration: none;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

